<div class="comment-container">
    <span itemprop="creator" itemscope itemtype="http://schema.org/Person">
        <div class="comment-image" itemprop="image">
            {% if comment.isGuest() %}
                <img src="{{ resourceUrl('/images/user.svg') }}" />
            {% else %}
                <img src="{{ comment.author.photoUrl ? comment.author.photoUrl : resourceUrl('/images/user.svg') }}" />
            {% endif %}
        </div>
    </span>

    <div class="comment-text">
        <span class="comment-heading">
            <span itemprop="creator" itemscope itemtype="http://schema.org/Person">
                <span class="title" itemprop="name">
                    {{ comment.author.fullName ? comment.author.fullName : comment.author }}
                </span>
            </span>

            <span class="meta">
                <time itemprop="commentTime" datetime="{{ comment.dateCreated | date('c') }}">
                    {{ comment.dateCreated | date('M jS, Y') }}
                </time>
            </span>
        </span>

        <div class="comment-content" itemprop="commentText">
            {% if comment.isFlagged %}
                <p>[Comment marked as inappropriate]</p>
            {% elseif comment.isPoorlyRated %}
                <p>[Comment hidden due to low rating]</p>
            {% else %}
                <p>{{ comment.comment | nl2br }}</p>
            {% endif %}
        </div>

        {# Inline edit form (initially hidden) - only available on approved comment #}
        {% if not comment.isFlagged and not comment.isPoorlyRated %}
            {% include '_comments/form-edit' %}
        {% endif %}

        <div class="meta-buttons">
            {% if settings.allowVoting %}
                <div class="comment-votes">
                    <span class="count">{{ comment.voteCount }} votes</span>

                    {% if comment.canUpVote %}
                        <a href="{{ comment.upvoteActionUrl }}" class="comment-vote-up">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    {% endif %}

                    {% if comment.canDownVote %}
                        <a href="{{ comment.downvoteActionUrl }}" class="comment-vote-down">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    {% endif %}
                </div>
            {% endif %}

            {% if not comment.isClosed %}
                <a href="#" class="comment-reply" itemprop="replyToUrl">
                    <i class="fa fa-reply"></i> Reply
                </a>
            {% endif %}

            <a href="#" class="comment-toggle">
                <i class="fa fa-comment"></i>
                {{ comment.descendants | length }} Comments
            </a>


            {% if currentUser %}
                {% if comment.canTrash() %}
                    <a href="{{ comment.trashActionUrl }}" class="comment-delete">
                        <i class="fa fa-times"></i> Delete
                    </a>
                {% endif %}

                {% if settings.allowFlagging %}
                    {% if comment.flagActionUrl %}
                        <a href="{{ comment.flagActionUrl }}" class="comment-flag">
                            <i class="fa fa-flag"></i> Flag as inappropriate
                        </a>
                    {% else %}
                        <span class="static-label comment-flag">
                            <i class="fa fa-flag"></i> Flagged as inappropriate
                        </span>
                    {% endif %}
                {% endif %}
            {% endif %}

        </div>
    </div>
</div>
